@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
/*動態 */
/*RWD */
/* line 68, ../sass/_mixin.sass */
a:hover {
  text-decoration: none;
}

/* line 1, ../sass/_main.sass */
html {
  background-image: url("../images/bg.png");
  background-color: #fff;
}

/* line 4, ../sass/_main.sass */
body {
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

/* line 8, ../sass/_main.sass */
.container {
  width: 100%;
}

/* line 10, ../sass/_main.sass */
* {
  font-family: "Noto Sans TC", "微軟正黑體", "sans-serif";
  font-size: 14px;
  font-weight: 300;
}

/* line 2, ../sass/_header.sass */
#wrap #main-nav {
  display: none;
}

/* line 4, ../sass/_header.sass */
.container-fluid.menu-wrapper-area {
  display: none;
}

/* line 7, ../sass/_header.sass */
.brand {
  padding: 0;
}
/* line 9, ../sass/_header.sass */
.brand a {
  display: block;
  max-width: 202px;
}
/* line 12, ../sass/_header.sass */
.brand a img {
  width: 100%;
}

/* line 14, ../sass/_header.sass */
.navbar-default {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: 1em;
}
/* line 20, ../sass/_header.sass */
.navbar-default .container {
  padding-right: 0;
}

/* line 22, ../sass/_header.sass */
.navbar-collapse.navbar-collapse {
  padding-top: 1em;
  padding-left: 0;
  padding-right: 0;
}
/* line 26, ../sass/_header.sass */
.navbar-collapse.navbar-collapse .dropdown-menu {
  background: rgba(243, 152, 0, 0.7);
}
/* line 28, ../sass/_header.sass */
.navbar-collapse.navbar-collapse .dropdown-menu li a {
  color: #fff;
  transition: 0.5s ease;
}
/* line 31, ../sass/_header.sass */
.navbar-collapse.navbar-collapse .dropdown-menu li a:hover {
  background: #f39800;
}

/* line 33, ../sass/_header.sass */
.nav.navbar-nav {
  padding-left: 2.5em;
  width: calc(100% - 202px);
  position: relative;
  z-index: 99999;
  padding-top: 0.3em;
}
@media (min-width: 768px) {
  /* line 40, ../sass/_header.sass */
  .nav.navbar-nav::before {
    content: "";
    display: block;
    width: 100%;
    background: url("../images/nav-bg.png") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 1em;
    height: 100px;
  }
}
/* line 50, ../sass/_header.sass */
.nav.navbar-nav > li {
  padding: 0.5em 0;
  margin: 0 5px;
}
/* line 53, ../sass/_header.sass */
.nav.navbar-nav > li:last-child {
  margin: 0 0 0 15px;
}
/* line 55, ../sass/_header.sass */
.nav.navbar-nav > li:last-child > a {
  margin: 0 5px;
}
/* line 57, ../sass/_header.sass */
.nav.navbar-nav > li:last-child a::before {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 53, ../sass/_header.sass */
  .nav.navbar-nav > li:last-child {
    margin: 0;
  }
}
/* line 61, ../sass/_header.sass */
.nav.navbar-nav > li > a {
  padding: 0;
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}
/* line 68, ../sass/_header.sass */
.nav.navbar-nav > li > a::before {
  display: inline-block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  margin-right: 5px;
}
/* line 76, ../sass/_header.sass */
.nav.navbar-nav > li a:hover {
  color: #994c00;
}
/* line 79, ../sass/_header.sass */
.nav.navbar-nav .social-icon > a {
  display: inline-flex;
}
/* line 81, ../sass/_header.sass */
.nav.navbar-nav .social-icon img {
  max-height: 2em;
  width: auto;
  position: relative;
  top: -0.4em;
}

@media screen and (min-width: 768px) {
  /*三層選單設定*/
  /* line 3, ../sass/_three_menu.scss */
  .dropdown-submenu {
    position: relative;
  }

  /* line 4, ../sass/_three_menu.scss */
  .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
  }

  /* line 5, ../sass/_three_menu.scss */
  .dropdown-submenu.pull-left {
    float: none;
  }

  /* line 5, ../sass/_three_menu.scss */
  .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  /* line 6, ../sass/_three_menu.scss */
  .dropdown-submenu:hover > a:after {
    border-left-color: #555;
  }

  /* line 7, ../sass/_three_menu.scss */
  .dropdown-menu > li:hover .sub-menu {
    visibility: visible;
  }

  /* line 8, ../sass/_three_menu.scss */
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
/* line 3, ../sass/_carousel.sass */
.banner .owl-stage-outer::before {
  content: "";
  background: url("/images/banner-text.png") no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  background-size: 90%;
  background-position: center center;
  position: absolute;
  top: 0;
  z-index: 9;
}
/* line 17, ../sass/_carousel.sass */
.banner .owl-item img {
  border: 5px solid #f39800;
  margin: 0;
  width: 100%;
  border-radius: 36px;
}
/* line 22, ../sass/_carousel.sass */
.banner .owl-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 26, ../sass/_carousel.sass */
.banner .owl-dots .owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1.5em 0.5em;
  background: #ffae27;
  border-radius: 50%;
  transition: 0.5s ease;
}
/* line 34, ../sass/_carousel.sass */
.banner .owl-dots .owl-dot.active {
  background: #ff7f00;
}

/* line 2, ../sass/_index-section.sass */
._index {
  padding: 0;
}

/* line 6, ../sass/_index-section.sass */
h1.title {
  font-size: 16px;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 2em 2em 1em;
  position: relative;
  color: #ff7f00;
}
/* line 15, ../sass/_index-section.sass */
h1.title.news::before, h1.title.activity::before, h1.title.live::before {
  content: "";
  background: url("../images/newtitle-bg.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
@media screen and (max-width: 767px) {
  /* line 15, ../sass/_index-section.sass */
  h1.title.news::before, h1.title.activity::before, h1.title.live::before {
    background-size: 150%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 15, ../sass/_index-section.sass */
  h1.title.news::before, h1.title.activity::before, h1.title.live::before {
    background-size: 150%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 15, ../sass/_index-section.sass */
  h1.title.news::before, h1.title.activity::before, h1.title.live::before {
    background-size: 120%;
  }
}
/* line 31, ../sass/_index-section.sass */
h1.title.activity {
  padding-top: 0;
  padding-left: 1.7em;
  font-size: 15px;
}
/* line 35, ../sass/_index-section.sass */
h1.title.activity::before {
  background: url("../images/avticytitle-bg_05.png") no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 767px) {
  /* line 35, ../sass/_index-section.sass */
  h1.title.activity::before {
    background-size: 330%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 35, ../sass/_index-section.sass */
  h1.title.activity::before {
    background-size: 200%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 35, ../sass/_index-section.sass */
  h1.title.activity::before {
    background-size: 120%;
  }
}
@media screen and (max-width: 767px) {
  /* line 31, ../sass/_index-section.sass */
  h1.title.activity {
    padding-left: 2em;
    padding-top: 1em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 31, ../sass/_index-section.sass */
  h1.title.activity {
    padding-left: 3em;
    padding-top: 2em;
  }
}
/* line 50, ../sass/_index-section.sass */
h1.title.live {
  padding-top: 0.5em;
}
/* line 52, ../sass/_index-section.sass */
h1.title.live::before {
  background: url("../images/livetitlebg.png") no-repeat;
}
@media screen and (max-width: 767px) {
  /* line 52, ../sass/_index-section.sass */
  h1.title.live::before {
    background-size: 300%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 52, ../sass/_index-section.sass */
  h1.title.live::before {
    background-size: 150%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 50, ../sass/_index-section.sass */
  h1.title.live {
    height: 100px;
    padding-left: 2em;
    padding-top: 0em;
  }
}

/* line 63, ../sass/_index-section.sass */
.newsgroup span {
  font-size: 14px;
}
/* line 65, ../sass/_index-section.sass */
.newsgroup .date {
  width: 20%;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
}
/* line 70, ../sass/_index-section.sass */
.newsgroup .date::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffae27;
  border-radius: 50%;
  margin-right: 1em;
}
/* line 78, ../sass/_index-section.sass */
.newsgroup .list-title {
  width: calc(100% - 20% - 1em);
  display: inline-block;
  text-align: center;
}
/* line 83, ../sass/_index-section.sass */
.newsgroup p:last-child a {
  float: right;
  color: #333;
  display: flex;
  align-items: center;
}
/* line 88, ../sass/_index-section.sass */
.newsgroup p:last-child a::after {
  content: "";
  display: inline-block;
  border-width: 0.5em;
  border-style: solid solid solid solid;
  border-color: transparent transparent transparent #666;
  margin-left: 0.5em;
  border-width: 5px;
}

/* line 95, ../sass/_index-section.sass */
.section-news .col-sm-push-6 {
  padding: 3em;
}

/* line 99, ../sass/_index-section.sass */
.activity .owl-carousel {
  padding: 0 3em;
}
/* line 102, ../sass/_index-section.sass */
.activity .owl-carousel .owl-item .cricle {
  border-radius: 50%;
  position: relative;
  border-radius: 50%;
  display: block;
  border: 2px solid #f39800;
  display: flex;
  align-items: center;
  background: #f39800;
}
/* line 111, ../sass/_index-section.sass */
.activity .owl-carousel .owl-item p {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1.2em;
  background: rgba(255, 127, 0, 0.7);
  border-radius: 50%;
  opacity: 0;
  transition: 0.5s ease;
}
/* line 128, ../sass/_index-section.sass */
.activity .owl-carousel .owl-item:hover p {
  opacity: 1;
}
/* line 130, ../sass/_index-section.sass */
.activity .owl-carousel .owl-nav {
  position: absolute;
  top: 25%;
  display: block;
  width: calc(100% - 3em);
  height: 30px;
  padding: 0 3em 0 0;
}
/* line 137, ../sass/_index-section.sass */
.activity .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  left: -3em;
  color: transparent;
}
/* line 141, ../sass/_index-section.sass */
.activity .owl-carousel .owl-nav .owl-prev::before {
  content: "";
  display: inline-block;
  border-width: 0.5em;
  border-style: solid solid solid solid;
  border-color: transparent #f39800 transparent transparent;
  border-width: 10px;
}
/* line 146, ../sass/_index-section.sass */
.activity .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: 0em;
  color: transparent;
}
/* line 150, ../sass/_index-section.sass */
.activity .owl-carousel .owl-nav .owl-next::after {
  content: "";
  display: inline-block;
  border-width: 0.5em;
  border-style: solid solid solid solid;
  border-color: transparent transparent transparent #f39800;
  border-width: 10px;
}

/* line 157, ../sass/_index-section.sass */
.live .col-xs-12 {
  padding: 0;
}
/* line 160, ../sass/_index-section.sass */
.live .youtube a > img {
  display: block;
  border: 4px solid #f39800;
  border-radius: 36px;
}
/* line 164, ../sass/_index-section.sass */
.live .youtube a span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 173, ../sass/_index-section.sass */
.live .youtube a span img {
  width: 5em;
}

/* line 2, ../sass/_footer.sass */
.pull-right.copyright, .pull-left.copyright {
  display: none;
}

/* line 4, ../sass/_footer.sass */
footer {
  padding: 0;
  background: none;
}

/* line 7, ../sass/_footer.sass */
footer.foot {
  position: relative;
  padding: 0 5px 2em;
}
/* line 10, ../sass/_footer.sass */
footer.foot::before {
  content: "";
  display: block;
  background: url("../images/footertitle-bg.png") no-repeat;
  background-size: 100%;
  height: 120px;
}
@media screen and (max-width: 767px) {
  /* line 10, ../sass/_footer.sass */
  footer.foot::before {
    background-size: 200%;
    background-position: center center;
  }
}
/* line 19, ../sass/_footer.sass */
footer.foot p:first-child {
  margin-top: -3em;
}
/* line 21, ../sass/_footer.sass */
footer.foot p, footer.foot address {
  text-align: center;
  margin-bottom: 0;
  font-weight: 400;
}
/* line 25, ../sass/_footer.sass */
footer.foot .info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
}
/* line 30, ../sass/_footer.sass */
footer.foot .info span, footer.foot .info address {
  text-align: center;
  display: inline-block;
  margin: 0 0.5em;
}
/* line 34, ../sass/_footer.sass */
footer.foot .info span a, footer.foot .info address a {
  color: #333;
  font-weight: 400;
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 3, ../sass/_media.sass */
  .navbar.navbar-default .container {
    width: 100%;
    padding: 0;
  }

  /* line 6, ../sass/_media.sass */
  .collapse.navbar-collapse {
    width: 100%;
  }

  /* line 8, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    width: calc(100% / 5 - 15px);
  }

  /* line 10, ../sass/_media.sass */
  .index_section2 {
    padding: 1em 1em;
  }

  /* line 12, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    padding: 2em 0;
  }

  /* line 15, ../sass/_media.sass */
  .foot .row {
    display: flex;
    justify-content: center;
  }
  /* line 18, ../sass/_media.sass */
  .foot .col-sm-3 {
    width: calc( 100% / 3 - 5em);
  }
  /* line 20, ../sass/_media.sass */
  .foot .col-sm-6 {
    padding: 0;
    width: calc(100% / 3 + 5em);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 24, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    min-height: 70px;
  }

  /* line 26, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li::after {
    bottom: 0.2em;
  }

  /* line 28, ../sass/_media.sass */
  .navbar-header {
    width: 35%;
    margin-top: 0em;
  }

  /* line 31, ../sass/_media.sass */
  .index_section1 figure a {
    width: 200px;
    height: 200px;
  }

  /* line 34, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right {
    width: 65%;
    margin-left: 0.3em;
  }
  /* line 37, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right a {
    padding: 0 0.7em;
  }

  /* line 40, ../sass/_media.sass */
  .navbar.navbar-default .container {
    width: 100%;
    padding: 0;
  }

  /* line 43, ../sass/_media.sass */
  .collapse.navbar-collapse {
    width: 100%;
  }

  /* line 45, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    width: auto;
  }

  /* line 47, ../sass/_media.sass */
  .index_section2 {
    padding: 1em 1em;
  }

  /* line 49, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    padding: 2em 0;
  }

  /* line 52, ../sass/_media.sass */
  .foot .row {
    display: flex;
    justify-content: center;
  }
  /* line 55, ../sass/_media.sass */
  .foot .col-sm-3 {
    width: calc( 100% / 3 - 5em);
  }
  /* line 57, ../sass/_media.sass */
  .foot .col-sm-6 {
    padding: 0;
    width: calc(100% / 3 + 5em);
  }

  /* line 60, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li a {
    padding: 0 1em;
  }

  /* line 62, ../sass/_media.sass */
  .index_section2 .item .info h1 {
    font-size: 1.5em;
  }

  /* line 64, ../sass/_media.sass */
  .index_section2 .item .info p {
    font-size: 0.7em;
  }

  /* line 66, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info h1 {
    font-size: 1.5em;
  }

  /* line 68, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info p {
    font-size: 1.2em;
  }

  /* line 70, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    padding: 1em 0;
  }

  /* line 73, ../sass/_media.sass */
  .foot .row {
    display: flex;
    justify-content: center;
  }
  /* line 76, ../sass/_media.sass */
  .foot .col-sm-3 {
    width: calc( 100% / 3 - 2em);
  }
  /* line 78, ../sass/_media.sass */
  .foot .col-sm-6 {
    padding: 0;
    width: calc(100% / 3 + 2em);
  }

  /* line 81, ../sass/_media.sass */
  footer .col-sm-3:first-child h1, footer .col-sm-3:last-child h1 {
    font-size: 1.5em;
  }

  /* line 83, ../sass/_media.sass */
  footer .col-sm-3:first-child p, footer .col-sm-3:first-child address, footer .col-sm-3:last-child p, footer .col-sm-3:last-child address {
    font-size: 1em;
  }

  /* line 85, ../sass/_media.sass */
  footer .col-sm-6 ul li {
    padding: 0;
  }
  /* line 87, ../sass/_media.sass */
  footer .col-sm-6 ul li a {
    font-size: 12px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 90, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    margin: 0 0.2em;
  }

  /* line 92, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right a {
    font-size: 12px;
    padding: 0;
  }

  /* line 95, ../sass/_media.sass */
  .brand {
    margin-left: 1em;
  }

  /* line 97, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right {
    width: 100%;
    margin-top: 1em;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 101, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right > li {
    margin: 0 0.5em;
    width: auto;
  }

  /* line 104, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right a {
    font-size: 14px;
    padding: 0;
  }

  /* line 107, ../sass/_media.sass */
  .brand {
    margin-left: 1em;
  }

  /* line 109, ../sass/_media.sass */
  .collapse.navbar-collapse .nav.navbar-nav.pull-right.pull-right {
    width: 100%;
    margin-top: 1em;
  }
}
@media screen and (max-width: 767px) {
  /* line 113, ../sass/_media.sass */
  .navbar-header {
    width: 100%;
    padding-top: 0.5em;
  }

  /* line 116, ../sass/_media.sass */
  .navbar.navbar-default {
    background: #f39800;
    width: 100%;
    position: static;
    min-height: auto;
    padding: 1em 0;
  }
  /* line 122, ../sass/_media.sass */
  .navbar.navbar-default .container {
    padding: 0;
  }
  /* line 124, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header {
    margin: 0;
    align-items: center;
  }
  /* line 127, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header .brand {
    max-width: 280px;
    display: inline-block;
    margin-left: 1em;
  }
  /* line 131, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header .navbar-toggle {
    margin-top: 15px;
    border-color: #fff;
  }
  /* line 134, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
  }
  /* line 136, ../sass/_media.sass */
  .navbar.navbar-default .navbar-header .navbar-toggle:hover, .navbar.navbar-default .navbar-header .navbar-toggle:active, .navbar.navbar-default .navbar-header .navbar-toggle:focus {
    background: rgba(255, 127, 0, 0.6);
  }

  /* line 139, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1, .navbar-collapse.collapsing#navbar-collapse-1 {
    background: #f39800;
    margin: 0;
    padding: 1em;
  }
  /* line 143, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right {
    width: 100%;
    display: inherit;
    margin: 0;
    background: #ff7f00;
    border-radius: 15px;
    padding: 0.5em 1.5em 0 1em;
    box-shadow: 1px 1px 3px -1px #333;
  }
  /* line 151, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li {
    display: block;
    width: 100%;
    align-items: inherit;
    min-height: auto;
    border-right: none;
  }
  /* line 157, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li::after, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li::after {
    display: none;
  }
  /* line 160, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open a, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open a {
    background: none;
    color: #fff;
  }
  /* line 163, ../sass/_media.sass */
  .navbar-collapse#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open > ul, .navbar-collapse.collapsing#navbar-collapse-1 .nav.navbar-nav.pull-right > li.open > ul {
    padding: 0;
  }

  /* line 165, ../sass/_media.sass */
  #wrap {
    padding-top: 0;
  }

  /* line 167, ../sass/_media.sass */
  .index_section1 {
    padding: 3em 0;
  }
  /* line 169, ../sass/_media.sass */
  .index_section1 .col-sm-4 {
    margin: 1em 0;
  }
  /* line 171, ../sass/_media.sass */
  .index_section1 .col-sm-4::first-child {
    margin-top: 0;
  }
  /* line 173, ../sass/_media.sass */
  .index_section1 .col-sm-4::last-child {
    margin-bottom: 0;
  }
  /* line 176, ../sass/_media.sass */
  .index_section1 .col-sm-4 figure a {
    width: 280px;
    height: 280px;
    border-color: #ff7f00;
  }
  /* line 180, ../sass/_media.sass */
  .index_section1 .col-sm-4 figure a::after {
    opacity: 0.7;
  }
  /* line 182, ../sass/_media.sass */
  .index_section1 .col-sm-4 figure a .hover-icon {
    transform: scale(1);
    display: flex;
    align-items: center;
  }

  /* line 186, ../sass/_media.sass */
  .index_section2 {
    padding: 3em 3em;
  }
  /* line 188, ../sass/_media.sass */
  .index_section2 .owl-dots.owl-dots {
    display: none;
  }
  /* line 190, ../sass/_media.sass */
  .index_section2 .title {
    text-align: left;
  }
  /* line 193, ../sass/_media.sass */
  .index_section2 .item .info {
    display: -webkit-flex;
    display: flex;
  }
  /* line 195, ../sass/_media.sass */
  .index_section2 .item .info p {
    display: -webkit-flex;
    display: flex;
  }
  /* line 197, ../sass/_media.sass */
  .index_section2 .item .youtube {
    display: -webkit-flex;
    display: flex;
  }

  /* line 200, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 {
    margin: 1em 0;
  }
  /* line 203, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    display: -webkit-flex;
    display: flex;
  }

  /* line 205, ../sass/_media.sass */
  .foot.foot {
    padding: 1em 0;
  }
  /* line 208, ../sass/_media.sass */
  .foot.foot .container .row {
    margin: 0;
  }
  /* line 210, ../sass/_media.sass */
  .foot.foot .container .row .col-sm-6 {
    padding: 0;
    margin: 0em 0;
  }
  /* line 213, ../sass/_media.sass */
  .foot.foot .container .row .col-sm-6 iframe {
    padding: 0;
  }
  /* line 216, ../sass/_media.sass */
  .foot.foot .container ul li {
    padding: 0 0.5em;
    margin: 0;
    width: auto;
  }
  /* line 220, ../sass/_media.sass */
  .foot.foot .col-sm-3 {
    margin: 1em 0;
  }
  /* line 222, ../sass/_media.sass */
  .foot.foot .col-sm-3:first-child {
    margin-top: 0;
  }
  /* line 224, ../sass/_media.sass */
  .foot.foot .info {
    display: block;
    text-align: center;
  }
  /* line 227, ../sass/_media.sass */
  .foot.foot .info .tel, .foot.foot .info .mail {
    display: block;
    margin: 5px 0;
  }
  /* line 230, ../sass/_media.sass */
  .foot.foot a, .foot.foot p, .foot.foot address {
    color: #666;
  }

  /* line 232, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a .info {
    opacity: 1;
    transform: translateY(0px);
  }

  /* line 235, ../sass/_media.sass */
  .index_section3 .col-sm-4.col-sm-4 a::after {
    opacity: 0.7;
  }
}

/*# sourceMappingURL=usercss.css.map */
