// 輪播圖
.banner
	.owl-stage-outer::before
		content: ''
		background: url('/images/banner-text.png') no-repeat
		width: 100%
		height: 100%
		display: block
		margin: 0 auto
		background-size: 90%
		background-position: center center
		position: absolute
		top: 0
		z-index: 9

	.owl-item
		img
			border: 5px solid $color-1
			margin: 0
			width: 100%
			border-radius: 36px
	.owl-dots
		display: flex
		align-items: center
		justify-content: center
		.owl-dot
			display: inline-block
			width: 10px
			height: 10px
			margin: 1.5em .5em
			background: lighten($color-1, 10%)
			border-radius: 50%
			transition: $transition-1
			&.active
				background: #ff7f00
	