// raw預設
.pull-right.copyright,.pull-left.copyright
	display: none
footer
	padding: 0
	background: none
footer.foot
	position: relative
	padding: 0 5px 2em
	&::before
		content: ''
		display: block
		background: url('../images/footertitle-bg.png') no-repeat
		background-size: 100%
		height: 120px
		@media #{$mobile}
			background-size: 200%
			background-position: center center
	p:first-child
		margin-top: -3em
	p,address
		text-align: center
		margin-bottom: 0
		font-weight: 400
	.info
		display: flex
		align-items: center
		justify-content: center
		margin-top: .5em
		span,address
			text-align: center
			display: inline-block
			margin: 0 .5em
			a
				color: #333
				font-weight: 400