// RAW預設刪除
#wrap #main-nav
	display: none
.container-fluid.menu-wrapper-area
	display: none

.brand
	padding: 0
	a
		display: block
		max-width: 202px
		img
			width: 100%
.navbar-default
	background: none
	border: none
	border-radius: 0
	box-shadow: none
	padding-top: 1em
	.container
		padding-right: 0
.navbar-collapse.navbar-collapse
	padding-top: 1em
	padding-left: 0
	padding-right: 0
	.dropdown-menu
		background: rgba($color-1,.7)
		li a
			color: #fff
			transition: $transition-1
			&:hover
				background: rgba($color-1,1)
.nav.navbar-nav
	padding-left: 2.5em
	width: calc(100% - 202px)
	position: relative
	z-index: 99999
	padding-top: .3em
	@media #{$pad-pc}
		&::before
			content: ''
			display: block
			width: 100%
			background: url('../images/nav-bg.png') no-repeat
			background-size: 100%
			position: absolute
			top: 0
			left: 1em
			height: 100px
	>li
		padding: .5em 0
		margin: 0 5px
		&:last-child
			margin: 0 0 0 15px
			>a
				margin: 0 5px
			a::before
				display: none
			@media #{$mobile}
				margin: 0
		>a
			padding: 0
			color: #fff
			font-size: 14px
			display: flex
			align-items: center
			transition: $transition-1
			&::before
				display: inline-block
				content: ''
				width: 5px
				height: 5px
				border-radius: 50%
				background: rgba(255,255,255,.6)
				margin-right: 5px
		a:hover
			color: darken($color-2, 20%)
	.social-icon
		>a
			display: inline-flex
		img
			max-height: 2em
			width: auto
			position: relative
			top: -.4em