// raw預設
._index
	padding: 0

// 最新消息News
h1.title
	font-size: 16px
	display: flex
	align-items: center
	height: 80px
	padding: 2em 2em 1em
	position: relative
	color: $color-2
	&.news,&.activity,&.live
		&::before
			content: ''
			background: url('../images/newtitle-bg.png') no-repeat
			background-size: 100%
			width: 100%
			height: 100%
			display: block
			position: absolute
			top: 0 
			left: 0
			@media #{$mobile}
				background-size: 150%
			@media #{$pad}
				background-size: 150%	
			@media #{$mini-pc}
				background-size: 120%
	&.activity
		padding-top: 0
		padding-left: 1.7em
		font-size: 15px
		&::before
			background: url('../images/avticytitle-bg_05.png') no-repeat
			background-size: 100%
			@media #{$mobile}
				background-size: 330%
			@media #{$pad}
				background-size: 200%	
			@media #{$mini-pc}
				background-size: 120%
		@media #{$mobile}
			padding-left: 2em
			padding-top: 1em
		@media #{$pad}
			padding-left: 3em
			padding-top: 2em
	&.live
		padding-top: .5em
		&::before
			background: url('../images/livetitlebg.png') no-repeat
			@media #{$mobile}
				background-size: 300%
			@media #{$pad}
				background-size: 150%	
		@media #{$mini-pc}
			height: 100px
			padding-left: 2em
			padding-top: 0em
.newsgroup
	span
		font-size: 14px
	.date
		width: 20%
		display: inline-flex
		align-items: center
		font-weight: 400
		&::before
			content: ''
			display: inline-block
			width: 8px
			height: 8px
			background: lighten($color-1, 10%)
			border-radius: 50%
			margin-right: 1em
	.list-title
		width: calc(100% - 20% - 1em)
		display: inline-block
		text-align: center
	p:last-child
		a
			float: right
			color: #333
			display: flex
			align-items: center
			&::after
				content: ''
				display: inline-block
				+tr($color-n,$color-n,$color-n,#666)
				margin-left: .5em
				border-width: 5px
.section-news
	.col-sm-push-6
		padding: 3em

// activity
.activity .owl-carousel
	padding: 0 3em
	.owl-item
		.cricle
			border-radius: 50%
			position: relative
			border-radius: 50%
			display: block
			border: 2px solid $color-1
			display: flex
			align-items: center
			background: $color-1
		p
			display: flex
			width: 100%
			height: 100%
			position: absolute
			margin: 0
			top: 0
			left: 0
			align-items: center
			justify-content: center
			color: #fff
			font-size: 1.2em
			background: rgba($color-2,.7)
			border-radius: 50%
			opacity: 0
			transition: $transition-1
		&:hover
			p
				opacity: 1						
	.owl-nav
		position: absolute
		top: 25%
		display: block
		width: calc(100% - 3em)
		height: 30px
		padding: 0 3em 0 0
		.owl-prev
			position: absolute
			left: -3em
			color: $color-n
			&::before
				content: ''
				display: inline-block
				+tr($color-n,$color-1,$color-n,$color-n)
				border-width: 10px
		.owl-next
			position: absolute
			right: 0em
			color: $color-n
			&::after
				content: ''
				display: inline-block
				+tr($color-n,$color-n,$color-n,$color-1)
				border-width: 10px
				
.live
	.col-xs-12
		padding: 0
	.youtube a
		> img
			display: block
			border: 4px solid $color-1
			border-radius: 36px
		span
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			height: 100%
			position: absolute
			top: 0
			left: 0
			img
				width: 5em	