html
	background-image: url('../images/bg.png')
	background-color: #fff
body
	max-width: 1000px
	display: block
	margin: 0 auto
.container
	width: 100%
*
	font-family: $fm-google
	font-size: 14px
	font-weight: 300