// 主色系設定
$color-1: #f39800
$color-2: #ff7f00
$color-3: #EA5514
$color-4: rgba(180, 76, 201, 1)
$color-n: transparent

/*動態*/
$transition-1:.5s ease
$transition-2:.6s cubic-bezier(0.81, 0.26, 0, 0.93)

/*RWD*/
$mobile:"screen and (max-width:767px)"
$pad:" (min-width:768px) and (max-width:991px)"
$mini-pc:" (min-width: 992px) and (max-width: 1199px)"
$pad-pc:"(min-width:768px)"

// 字體
// -宋體組
$fm-1:"STSong","LiSong Pro Light","SimSun","NSimSun","sans-serif"
$fm-google:"Noto Sans TC","微軟正黑體","sans-serif"

// 三角形（上·右·下·左）
@mixin tr($color_1,$color_2,$color_3,$color_4) 
	border-width: .5em
	border-style: solid solid solid solid
	border-color: $color_1 $color_2 $color_3 $color_4

// 圓型 (寬·高·顏色)
@mixin circle($width,$height,$color) 
	width: $width
	height: $height
	border-radius: 50%
	background: $color

// 斜線（寬度·主色·副色）
@mixin slash($linewidth,$color-1,$color_1-2) 
	background-color: $color_1
	background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, $color_1_2), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, $color_1_2),color-stop(.75, $color_1_2), color-stop(.75, transparent),to(transparent))
	-webkit-background-size: $linewidth

// 橫線（高度·主色·副色）
@mixin hline($linewidth,$color_1,$color_1_2) 
	background-color: $color_1
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, $color_1_2), color-stop(.5, transparent), to(transparent))
	-webkit-background-size: $linewidth

// 直線（寬度·主色·副色）
@mixin sline($linewidth,$color_1,$color_1_2)
	background-color: $color_1
	background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, $color_1_2), color-stop(.5, transparent), to(transparent))
	-webkit-background-size: $linewidth

// 點點背景（點的大小·點的顏色·背景顏色）
@mixin pline($linewidth,$color_1,$color_1_2) 
	background-color: $color_1
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, transparent), color-stop(.5, $color_1_2), to($color_1_2)),-webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, transparent), color-stop(.5, $color_1_2), to($color_1_2))
	-webkit-background-size: $linewidth

@mixin flex-center
	+display-flex
	+flex-wrap(wrap)
	+align-items(center)
	+justify-content(center)
	@media #{$mobile} 
		+display-flex(block)

a:hover
	text-decoration: none

