  <link rel="stylesheet" href="css/featherlight.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/usercss.css">
<script src="js/featherlight.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script src="js/userjs.js"></script>

<!--頭部-->
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="brand">
            <a href="/">
              <img src="images/headlogo.png" class="img-responsive" alt="">
            </a>
          </div>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <!--關於我們-->
            <li><a href="">關於我們</a></li>
            <!-- 最新消息 -->
            <li><a href="">最新消息</a></li>
            <!-- 公布欄 -->
            <li><a href="">公布欄</a></li>
            <!--課程介紹-->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">課程介紹
              </a>
              <ul class="dropdown-menu">
                <li><a href="">安親</a></li>
                <li><a href="">美語</a></li>
                <li><a href="">國小(舊)</a></li>
                <li><a href="">國中(舊)</a></li>
                <li><a href="">高中</a></li>
              </ul>
            </li>
            <!-- 師資介紹 -->
            <li><a href="">師資介紹</a></li>
            <!-- 教學環境 -->
            <li><a href="">教學環境</a></li>
            <!-- 合作分校 -->
            <li><a href="">合作分校</a></li>
            <!-- 聯絡我們 -->
            <li><a href="">聯絡我們</a></li>
            <!-- facebook -->
            <li class="social-icon">
              <a href="https://www.facebook.com/goes1999/" target="_blank"><img src="images/facebook-icon.png" alt=""></a>
              <a href="images/lnie.jpg" data-featherlight="image"><img src="images/line-icon.png" alt=""></a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>



  <footer class="container-fluid foot">
    <p>高仕補習班版權所有© 2017 All Rights Reserved</p>
    <div class="info">
        <address>地址：新竹縣竹北市縣政十一街53號</address>
        <span class="tel"><a href="tel:03-5540369">TEL：03-5540369</a></span>
        <span class="mail"><a href="mailto:goes1999@yahoo.com.tw">　Email：goes1999@yahoo.com.tw</a></span>
    </div>
      
  </footer>

  