<!-- 輪播圖 -->
    <div class="owl-carousel banner">
      <item><img src="images/banner.png" alt=""></item>
      <item><img src="images/banner.png" alt=""></item>
      <item><img src="images/banner.png" alt=""></item>
      <item><img src="images/banner.png" alt=""></item>
      <item><img src="images/banner.png" alt=""></item>
    </div>



  <!-- 最新消息 -->
  <section class="container-fluid section-news">
    <div class="col-sm-6 col-sm-push-6 col-xs-12"><img src="images/news-right.png" class="img-responsive" alt=""></div>


    <div class="col-sm-6 col-sm-pull-6 col-xs-12">
      <h1 class="title news">最新消息News</h1>


      <div class="newsgroup">
        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p>
          <span class="date">2016.12.29</span>
          <span class="list-title">學生成績出爐</span>
        </p>


        <p><a href="">more</a></p>


      </div>


    </div>


  </section>

  <!-- 活動花絮 -->
  <section class="container-fluid activity">
    <h1 class="title activity">活動花絮Activity</h1>


    <div class="owl-carousel">
      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-1.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-1.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-2.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-2.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-3.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-3.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-4.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-4.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-5.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-5.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-6.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-6.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-1.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-1.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-2.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-2.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-3.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-3.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-4.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-4.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-5.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-5.png" alt="">
      </div>


      <div class="item">
        <div class="cricle">
          <img src="images/activy-carousel-6.png" alt="">
          <p>read more</p>


        </div>


          <img src="images/activy-carousel-shadow-6.png" alt="">
      </div>


    </div>


  </section>

  <!-- 教學實況 -->
  <section class="container-fluid live">
    <h1 class="title live">教學實況Teaching Live</h1>


    <div class="col-xs-12 youtube"><a href="https://www.youtube.com/embed/_rLWdXXVzJE" target="_blank"><img src="images/youtube.png" class="img-responsive" alt=""><span><img src="images/youtube-icon.png" alt=""></span></a></div>


  </section>



    <script>
        $('.owl-carousel.banner').owlCarousel({
          loop:true,
          margin:0,
          nav:false,
          items:1,
          dots:true,
          animateOut: 'fadeOut',
          autoplay:true,
          autoplayHoverPause:false
        }); 
      $('.activity .owl-carousel').owlCarousel({
        loop:true,
        margin:20,
        nav:true,
        items:6,
        dots:false,
        animateOut: 'fadeOut',
        autoplay:true,
        autoplayHoverPause:false,
        responsiveClass: true,
        responsive:{
          0:{
            items:1
          },
          767:{
            items:6
          }
        }
      }); 
    </script>